asn1crypto==0.24.0
beautifulsoup4==4.7.1
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
Click==7.0
cryptography==2.5
Flask==1.0.2
gunicorn==19.9.0
idna==2.8
inflection==0.3.1
ItsDangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
more-itertools==6.0.0
ndg-httpsclient==0.5.1
numpy==1.17.4
pandas==0.24.1
psycopg2-binary==2.7.7
pyasn1==0.4.5
pycparser==2.19
pyOpenSSL==19.0.0
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2018.9
Quandl==3.4.6
requests==2.21.0
six==1.12.0
SQLAlchemy==1.2.18
urllib3==1.24.1
Werkzeug==0.14.1
