# Pytest
atomicwrites==1.4.0
attrs==19.3.0
pluggy==0.13.1
py==1.8.1
pytest==5.4.2
pytest-flask==1.0.0

# CodeStyle
pycodestyle==2.6.0
pyflakes==2.2.0

# Flake8
entrypoints==0.3
flake8==3.8.3
mccabe==0.6.1

# Coverage
coverage==5.1

-r requirements.txt
