asn1crypto==0.24.0
beautifulsoup4==4.6.3
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.5
Flask==1.0.2
gunicorn==19.9.0
idna==2.7
inflection==0.3.1
ItsDangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==4.3.0
ndg-httpsclient==0.5.1
numpy==1.15.4
pandas==0.23.4
psycopg2-binary==2.7.6.1
pyasn1==0.4.4
pycparser==2.19
pyOpenSSL==18.0.0
python-dateutil==2.7.5
python-dotenv==0.9.1
pytz==2018.7
Quandl==3.4.5
requests==2.20.1
six==1.11.0
SQLAlchemy==1.2.14
urllib3==1.24.1
Werkzeug==0.14.1
