asn1crypto==1.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.1.1
cryptography==2.8
Flask==1.1.1
gunicorn==20.0.4
idna==2.9
inflection==0.3.1
ItsDangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
more-itertools==8.2.0
ndg-httpsclient==0.5.1
numpy==1.18.1
pandas==1.0.2
psycopg2-binary==2.8.5
pyasn1==0.4.8
pycparser==2.20
pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
Quandl==3.5.0
requests==2.23.0
six==1.14.0
SQLAlchemy==1.3.15
urllib3==1.25.8
Werkzeug==1.0.0
