table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 0px;
  /*font-size: 0.9em;*/
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 8em;
  min-width: 8em;
  max-width: 8em;
  word-break: break-all;
}

.cotacaolme th {
    background-color: #d1d1d1;
    color: black;
}

.cotacaolme thead tr:nth-of-type(2) {
    display: none;
}

tr:nth-child(odd)	{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}

.mediasemana th {
    background-color: #d1d1d1;
    color: black;
}

.mediasemana tr {
    background-color: #d1d1d1;
}

.mediasemana td {
    background-color: #d1d1d1;
}

.mediaperiodohor th,
.mediaperiodohor tr,
.mediaperiodohor tf {
    background-color: #d1d1d1;
}