<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    31/07/2017
   </th>
   <td>
    6,347.00
   </td>
   <td>
    2,802.00
   </td>
   <td>
    1,904.00
   </td>
   <td>
    2,312.00
   </td>
   <td>
    20,930.00
   </td>
   <td>
    10,235.00
   </td>
   <td>
    3.18
   </td>
  </tr>
  <tr>
   <th>
    01/08/2017
   </th>
   <td>
    6,300.50
   </td>
   <td>
    2,769.50
   </td>
   <td>
    1,887.00
   </td>
   <td>
    2,299.00
   </td>
   <td>
    20,700.00
   </td>
   <td>
    10,155.00
   </td>
   <td>
    3.13
   </td>
  </tr>
  <tr>
   <th>
    02/08/2017
   </th>
   <td>
    6,300.00
   </td>
   <td>
    2,754.00
   </td>
   <td>
    1,904.00
   </td>
   <td>
    2,315.00
   </td>
   <td>
    20,625.00
   </td>
   <td>
    10,205.00
   </td>
   <td>
    3.12
   </td>
  </tr>
  <tr>
   <th>
    03/08/2017
   </th>
   <td>
    6,290.00
   </td>
   <td>
    2,804.00
   </td>
   <td>
    1,891.50
   </td>
   <td>
    2,342.00
   </td>
   <td>
    20,730.00
   </td>
   <td>
    10,255.00
   </td>
   <td>
    3.11
   </td>
  </tr>
  <tr>
   <th>
    04/08/2017
   </th>
   <td>
    6,330.00
   </td>
   <td>
    2,798.00
   </td>
   <td>
    1,890.00
   </td>
   <td>
    2,349.00
   </td>
   <td>
    20,865.00
   </td>
   <td>
    10,335.00
   </td>
   <td>
    3.11
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:31
   </th>
   <td>
    6,313.50
   </td>
   <td>
    2,785.50
   </td>
   <td>
    1,895.30
   </td>
   <td>
    2,323.40
   </td>
   <td>
    20,770.00
   </td>
   <td>
    10,237.00
   </td>
   <td>
    3.13
   </td>
  </tr>
 </tbody>
</table>
<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    07/08/2017
   </th>
   <td>
    6,333.00
   </td>
   <td>
    2,816.50
   </td>
   <td>
    1,920.00
   </td>
   <td>
    2,355.00
   </td>
   <td>
    20,760.00
   </td>
   <td>
    10,310.00
   </td>
   <td>
    3.13
   </td>
  </tr>
  <tr>
   <th>
    08/08/2017
   </th>
   <td>
    6,364.00
   </td>
   <td>
    2,873.00
   </td>
   <td>
    1,981.00
   </td>
   <td>
    2,349.00
   </td>
   <td>
    20,650.00
   </td>
   <td>
    10,280.00
   </td>
   <td>
    3.12
   </td>
  </tr>
  <tr>
   <th>
    09/08/2017
   </th>
   <td>
    6,465.00
   </td>
   <td>
    2,947.00
   </td>
   <td>
    2,018.00
   </td>
   <td>
    2,367.50
   </td>
   <td>
    20,475.00
   </td>
   <td>
    10,710.00
   </td>
   <td>
    3.13
   </td>
  </tr>
  <tr>
   <th>
    10/08/2017
   </th>
   <td>
    6,416.50
   </td>
   <td>
    2,935.00
   </td>
   <td>
    2,024.00
   </td>
   <td>
    2,358.00
   </td>
   <td>
    20,350.00
   </td>
   <td>
    10,770.00
   </td>
   <td>
    3.15
   </td>
  </tr>
  <tr>
   <th>
    11/08/2017
   </th>
   <td>
    6,353.50
   </td>
   <td>
    2,886.50
   </td>
   <td>
    2,040.50
   </td>
   <td>
    2,322.50
   </td>
   <td>
    20,450.00
   </td>
   <td>
    10,590.00
   </td>
   <td>
    3.17
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:32
   </th>
   <td>
    6,386.40
   </td>
   <td>
    2,891.60
   </td>
   <td>
    1,996.70
   </td>
   <td>
    2,350.40
   </td>
   <td>
    20,537.00
   </td>
   <td>
    10,532.00
   </td>
   <td>
    3.14
   </td>
  </tr>
 </tbody>
</table>
<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    14/08/2017
   </th>
   <td>
    6,351.00
   </td>
   <td>
    2,891.00
   </td>
   <td>
    2,030.00
   </td>
   <td>
    2,317.00
   </td>
   <td>
    20,525.00
   </td>
   <td>
    10,510.00
   </td>
   <td>
    3.18
   </td>
  </tr>
  <tr>
   <th>
    15/08/2017
   </th>
   <td>
    6,382.00
   </td>
   <td>
    2,938.50
   </td>
   <td>
    2,056.00
   </td>
   <td>
    2,370.00
   </td>
   <td>
    20,445.00
   </td>
   <td>
    10,370.00
   </td>
   <td>
    3.19
   </td>
  </tr>
  <tr>
   <th>
    16/08/2017
   </th>
   <td>
    6,433.00
   </td>
   <td>
    3,010.00
   </td>
   <td>
    2,075.00
   </td>
   <td>
    2,395.00
   </td>
   <td>
    20,125.00
   </td>
   <td>
    10,560.00
   </td>
   <td>
    3.17
   </td>
  </tr>
  <tr>
   <th>
    17/08/2017
   </th>
   <td>
    6,460.00
   </td>
   <td>
    3,084.00
   </td>
   <td>
    2,095.50
   </td>
   <td>
    2,457.00
   </td>
   <td>
    20,300.00
   </td>
   <td>
    10,710.00
   </td>
   <td>
    3.15
   </td>
  </tr>
  <tr>
   <th>
    18/08/2017
   </th>
   <td>
    6,453.00
   </td>
   <td>
    3,117.00
   </td>
   <td>
    2,104.50
   </td>
   <td>
    2,389.00
   </td>
   <td>
    20,375.00
   </td>
   <td>
    10,730.00
   </td>
   <td>
    3.17
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:33
   </th>
   <td>
    6,415.80
   </td>
   <td>
    3,008.10
   </td>
   <td>
    2,072.20
   </td>
   <td>
    2,385.60
   </td>
   <td>
    20,354.00
   </td>
   <td>
    10,576.00
   </td>
   <td>
    3.17
   </td>
  </tr>
 </tbody>
</table>
<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    21/08/2017
   </th>
   <td>
    6,514.50
   </td>
   <td>
    3,143.00
   </td>
   <td>
    2,084.50
   </td>
   <td>
    2,360.00
   </td>
   <td>
    20,575.00
   </td>
   <td>
    11,250.00
   </td>
   <td>
    3.18
   </td>
  </tr>
  <tr>
   <th>
    22/08/2017
   </th>
   <td>
    6,584.00
   </td>
   <td>
    3,140.00
   </td>
   <td>
    2,104.50
   </td>
   <td>
    2,346.00
   </td>
   <td>
    20,675.00
   </td>
   <td>
    11,430.00
   </td>
   <td>
    3.16
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:34
   </th>
   <td>
    6,549.25
   </td>
   <td>
    3,141.50
   </td>
   <td>
    2,094.50
   </td>
   <td>
    2,353.00
   </td>
   <td>
    20,625.00
   </td>
   <td>
    11,340.00
   </td>
   <td>
    3.17
   </td>
  </tr>
 </tbody>
</table>