<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    26/06/2017
   </th>
   <td>
    5,771.00
   </td>
   <td>
    2,722.00
   </td>
   <td>
    1,855.00
   </td>
   <td>
    2,237.00
   </td>
   <td>
    19,445.00
   </td>
   <td>
    9,040.00
   </td>
   <td>
    3.34
   </td>
  </tr>
  <tr>
   <th>
    27/06/2017
   </th>
   <td>
    5,789.00
   </td>
   <td>
    2,726.00
   </td>
   <td>
    1,861.50
   </td>
   <td>
    2,247.50
   </td>
   <td>
    19,330.00
   </td>
   <td>
    9,060.00
   </td>
   <td>
    3.29
   </td>
  </tr>
  <tr>
   <th>
    28/06/2017
   </th>
   <td>
    5,822.00
   </td>
   <td>
    2,732.50
   </td>
   <td>
    1,886.00
   </td>
   <td>
    2,265.00
   </td>
   <td>
    19,450.00
   </td>
   <td>
    9,125.00
   </td>
   <td>
    3.31
   </td>
  </tr>
  <tr>
   <th>
    29/06/2017
   </th>
   <td>
    5,905.50
   </td>
   <td>
    2,752.50
   </td>
   <td>
    1,897.50
   </td>
   <td>
    2,292.00
   </td>
   <td>
    20,075.00
   </td>
   <td>
    9,275.00
   </td>
   <td>
    3.28
   </td>
  </tr>
  <tr>
   <th>
    30/06/2017
   </th>
   <td>
    5,907.50
   </td>
   <td>
    2,754.00
   </td>
   <td>
    1,908.50
   </td>
   <td>
    2,274.00
   </td>
   <td>
    20,200.00
   </td>
   <td>
    9,280.00
   </td>
   <td>
    3.30
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:26
   </th>
   <td>
    5,839.00
   </td>
   <td>
    2,737.40
   </td>
   <td>
    1,881.70
   </td>
   <td>
    2,263.10
   </td>
   <td>
    19,700.00
   </td>
   <td>
    9,156.00
   </td>
   <td>
    3.31
   </td>
  </tr>
 </tbody>
</table>
<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    03/07/2017
   </th>
   <td>
    5,894.00
   </td>
   <td>
    2,780.00
   </td>
   <td>
    1,917.50
   </td>
   <td>
    2,284.00
   </td>
   <td>
    20,300.00
   </td>
   <td>
    9,370.00
   </td>
   <td>
    3.18
   </td>
  </tr>
  <tr>
   <th>
    04/07/2017
   </th>
   <td>
    5,847.00
   </td>
   <td>
    2,766.00
   </td>
   <td>
    1,903.50
   </td>
   <td>
    2,272.00
   </td>
   <td>
    20,300.00
   </td>
   <td>
    9,125.00
   </td>
   <td>
    3.30
   </td>
  </tr>
  <tr>
   <th>
    05/07/2017
   </th>
   <td>
    5,818.00
   </td>
   <td>
    2,767.00
   </td>
   <td>
    1,913.00
   </td>
   <td>
    2,245.00
   </td>
   <td>
    20,200.00
   </td>
   <td>
    9,065.00
   </td>
   <td>
    3.31
   </td>
  </tr>
  <tr>
   <th>
    06/07/2017
   </th>
   <td>
    5,828.50
   </td>
   <td>
    2,785.00
   </td>
   <td>
    1,925.50
   </td>
   <td>
    2,266.00
   </td>
   <td>
    20,025.00
   </td>
   <td>
    9,090.00
   </td>
   <td>
    3.29
   </td>
  </tr>
  <tr>
   <th>
    07/07/2017
   </th>
   <td>
    5,809.00
   </td>
   <td>
    2,778.00
   </td>
   <td>
    1,920.00
   </td>
   <td>
    2,270.00
   </td>
   <td>
    20,050.00
   </td>
   <td>
    8,950.00
   </td>
   <td>
    3.30
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:27
   </th>
   <td>
    5,839.30
   </td>
   <td>
    2,775.20
   </td>
   <td>
    1,915.90
   </td>
   <td>
    2,267.40
   </td>
   <td>
    20,175.00
   </td>
   <td>
    9,120.00
   </td>
   <td>
    3.27
   </td>
  </tr>
 </tbody>
</table>
<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    10/07/2017
   </th>
   <td>
    5,780.00
   </td>
   <td>
    2,775.00
   </td>
   <td>
    1,914.00
   </td>
   <td>
    2,267.50
   </td>
   <td>
    19,900.00
   </td>
   <td>
    8,885.00
   </td>
   <td>
    3.18
   </td>
  </tr>
  <tr>
   <th>
    11/07/2017
   </th>
   <td>
    5,795.00
   </td>
   <td>
    2,771.50
   </td>
   <td>
    1,879.00
   </td>
   <td>
    2,292.00
   </td>
   <td>
    19,925.00
   </td>
   <td>
    8,980.00
   </td>
   <td>
    3.18
   </td>
  </tr>
  <tr>
   <th>
    12/07/2017
   </th>
   <td>
    5,882.50
   </td>
   <td>
    2,843.00
   </td>
   <td>
    1,877.00
   </td>
   <td>
    2,310.00
   </td>
   <td>
    20,005.00
   </td>
   <td>
    9,210.00
   </td>
   <td>
    3.25
   </td>
  </tr>
  <tr>
   <th>
    13/07/2017
   </th>
   <td>
    5,902.00
   </td>
   <td>
    2,826.00
   </td>
   <td>
    1,911.00
   </td>
   <td>
    2,294.00
   </td>
   <td>
    20,000.00
   </td>
   <td>
    9,185.00
   </td>
   <td>
    3.21
   </td>
  </tr>
  <tr>
   <th>
    14/07/2017
   </th>
   <td>
    5,858.00
   </td>
   <td>
    2,769.00
   </td>
   <td>
    1,904.00
   </td>
   <td>
    2,264.00
   </td>
   <td>
    20,000.00
   </td>
   <td>
    9,380.00
   </td>
   <td>
    3.21
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:28
   </th>
   <td>
    5,843.50
   </td>
   <td>
    2,796.90
   </td>
   <td>
    1,897.00
   </td>
   <td>
    2,285.50
   </td>
   <td>
    19,966.00
   </td>
   <td>
    9,128.00
   </td>
   <td>
    3.21
   </td>
  </tr>
 </tbody>
</table>
<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    17/07/2017
   </th>
   <td>
    5,965.50
   </td>
   <td>
    2,819.50
   </td>
   <td>
    1,901.00
   </td>
   <td>
    2,302.00
   </td>
   <td>
    20,040.00
   </td>
   <td>
    9,580.00
   </td>
   <td>
    3.18
   </td>
  </tr>
  <tr>
   <th>
    18/07/2017
   </th>
   <td>
    5,940.50
   </td>
   <td>
    2,769.00
   </td>
   <td>
    1,887.00
   </td>
   <td>
    2,245.50
   </td>
   <td>
    20,080.00
   </td>
   <td>
    9,595.00
   </td>
   <td>
    3.18
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:29
   </th>
   <td>
    5,953.00
   </td>
   <td>
    2,794.25
   </td>
   <td>
    1,894.00
   </td>
   <td>
    2,273.75
   </td>
   <td>
    20,060.00
   </td>
   <td>
    9,587.50
   </td>
   <td>
    3.18
   </td>
  </tr>
 </tbody>
</table>