<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    19/06/2017
   </th>
   <td>
    5,687.00
   </td>
   <td>
    2,535.00
   </td>
   <td>
    1,861.50
   </td>
   <td>
    2,113.00
   </td>
   <td>
    19,815.00
   </td>
   <td>
    8,895.00
   </td>
   <td>
    3.29
   </td>
  </tr>
  <tr>
   <th>
    20/06/2017
   </th>
   <td>
    5,673.50
   </td>
   <td>
    2,561.00
   </td>
   <td>
    1,889.00
   </td>
   <td>
    2,118.00
   </td>
   <td>
    19,775.00
   </td>
   <td>
    8,980.00
   </td>
   <td>
    3.28
   </td>
  </tr>
  <tr>
   <th>
    21/06/2017
   </th>
   <td>
    5,650.00
   </td>
   <td>
    2,579.50
   </td>
   <td>
    1,865.50
   </td>
   <td>
    2,121.00
   </td>
   <td>
    19,725.00
   </td>
   <td>
    8,890.00
   </td>
   <td>
    3.33
   </td>
  </tr>
  <tr>
   <th>
    22/06/2017
   </th>
   <td>
    5,736.00
   </td>
   <td>
    2,697.00
   </td>
   <td>
    1,872.00
   </td>
   <td>
    2,181.00
   </td>
   <td>
    19,695.00
   </td>
   <td>
    8,910.00
   </td>
   <td>
    3.33
   </td>
  </tr>
  <tr>
   <th>
    23/06/2017
   </th>
   <td>
    5,774.00
   </td>
   <td>
    2,725.00
   </td>
   <td>
    1,868.00
   </td>
   <td>
    2,186.50
   </td>
   <td>
    19,495.00
   </td>
   <td>
    9,170.00
   </td>
   <td>
    3.34
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:25
   </th>
   <td>
    5,704.10
   </td>
   <td>
    2,619.50
   </td>
   <td>
    1,871.20
   </td>
   <td>
    2,143.90
   </td>
   <td>
    19,701.00
   </td>
   <td>
    8,969.00
   </td>
   <td>
    3.31
   </td>
  </tr>
 </tbody>
</table>
<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    26/06/2017
   </th>
   <td>
    5,771.00
   </td>
   <td>
    2,722.00
   </td>
   <td>
    1,855.00
   </td>
   <td>
    2,237.00
   </td>
   <td>
    19,445.00
   </td>
   <td>
    9,040.00
   </td>
   <td>
    3.34
   </td>
  </tr>
  <tr>
   <th>
    27/06/2017
   </th>
   <td>
    5,789.00
   </td>
   <td>
    2,726.00
   </td>
   <td>
    1,861.50
   </td>
   <td>
    2,247.50
   </td>
   <td>
    19,330.00
   </td>
   <td>
    9,060.00
   </td>
   <td>
    3.29
   </td>
  </tr>
  <tr>
   <th>
    28/06/2017
   </th>
   <td>
    5,822.00
   </td>
   <td>
    2,732.50
   </td>
   <td>
    1,886.00
   </td>
   <td>
    2,265.00
   </td>
   <td>
    19,450.00
   </td>
   <td>
    9,125.00
   </td>
   <td>
    3.31
   </td>
  </tr>
  <tr>
   <th>
    29/06/2017
   </th>
   <td>
    5,905.50
   </td>
   <td>
    2,752.50
   </td>
   <td>
    1,897.50
   </td>
   <td>
    2,292.00
   </td>
   <td>
    20,075.00
   </td>
   <td>
    9,275.00
   </td>
   <td>
    3.28
   </td>
  </tr>
  <tr>
   <th>
    30/06/2017
   </th>
   <td>
    5,907.50
   </td>
   <td>
    2,754.00
   </td>
   <td>
    1,908.50
   </td>
   <td>
    2,274.00
   </td>
   <td>
    20,200.00
   </td>
   <td>
    9,280.00
   </td>
   <td>
    3.30
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:26
   </th>
   <td>
    5,839.00
   </td>
   <td>
    2,737.40
   </td>
   <td>
    1,881.70
   </td>
   <td>
    2,263.10
   </td>
   <td>
    19,700.00
   </td>
   <td>
    9,156.00
   </td>
   <td>
    3.31
   </td>
  </tr>
 </tbody>
</table>
<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    03/07/2017
   </th>
   <td>
    5,894.00
   </td>
   <td>
    2,780.00
   </td>
   <td>
    1,917.50
   </td>
   <td>
    2,284.00
   </td>
   <td>
    20,300.00
   </td>
   <td>
    9,370.00
   </td>
   <td>
    3.18
   </td>
  </tr>
  <tr>
   <th>
    04/07/2017
   </th>
   <td>
    5,847.00
   </td>
   <td>
    2,766.00
   </td>
   <td>
    1,903.50
   </td>
   <td>
    2,272.00
   </td>
   <td>
    20,300.00
   </td>
   <td>
    9,125.00
   </td>
   <td>
    3.30
   </td>
  </tr>
  <tr>
   <th>
    05/07/2017
   </th>
   <td>
    5,818.00
   </td>
   <td>
    2,767.00
   </td>
   <td>
    1,913.00
   </td>
   <td>
    2,245.00
   </td>
   <td>
    20,200.00
   </td>
   <td>
    9,065.00
   </td>
   <td>
    3.31
   </td>
  </tr>
  <tr>
   <th>
    06/07/2017
   </th>
   <td>
    5,828.50
   </td>
   <td>
    2,785.00
   </td>
   <td>
    1,925.50
   </td>
   <td>
    2,266.00
   </td>
   <td>
    20,025.00
   </td>
   <td>
    9,090.00
   </td>
   <td>
    3.29
   </td>
  </tr>
  <tr>
   <th>
    07/07/2017
   </th>
   <td>
    5,809.00
   </td>
   <td>
    2,778.00
   </td>
   <td>
    1,920.00
   </td>
   <td>
    2,270.00
   </td>
   <td>
    20,050.00
   </td>
   <td>
    8,950.00
   </td>
   <td>
    3.30
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:27
   </th>
   <td>
    5,839.30
   </td>
   <td>
    2,775.20
   </td>
   <td>
    1,915.90
   </td>
   <td>
    2,267.40
   </td>
   <td>
    20,175.00
   </td>
   <td>
    9,120.00
   </td>
   <td>
    3.27
   </td>
  </tr>
 </tbody>
</table>
<table border="1" class="dataframe semanal table-striped table-responsive" style="text-align: right;" width="100%">
 <thead>
  <tr style="text-align: right;">
   <th>
    Data
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
  <tr>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>
    10/07/2017
   </th>
   <td>
    5,780.00
   </td>
   <td>
    2,775.00
   </td>
   <td>
    1,914.00
   </td>
   <td>
    2,267.50
   </td>
   <td>
    19,900.00
   </td>
   <td>
    8,885.00
   </td>
   <td>
    3.18
   </td>
  </tr>
  <tr>
   <th>
    11/07/2017
   </th>
   <td>
    5,795.00
   </td>
   <td>
    2,771.50
   </td>
   <td>
    1,879.00
   </td>
   <td>
    2,292.00
   </td>
   <td>
    19,925.00
   </td>
   <td>
    8,980.00
   </td>
   <td>
    3.18
   </td>
  </tr>
 </tbody>
 <thead>
  <tr style="text-align: right; background-color: #d4c97e !important;">
   <th>
    Média
   </th>
   <th>
    Cobre
   </th>
   <th>
    Zinco
   </th>
   <th>
    Aluminio
   </th>
   <th>
    Chumbo
   </th>
   <th>
    Estanho
   </th>
   <th>
    Niquel
   </th>
   <th>
    Dolar
   </th>
  </tr>
 </thead>
 <tbody>
  <tr class="media" style="background-color: #d4c97e !important;">
   <th>
    Semana:28
   </th>
   <td>
    5,787.50
   </td>
   <td>
    2,773.25
   </td>
   <td>
    1,896.50
   </td>
   <td>
    2,279.75
   </td>
   <td>
    19,912.50
   </td>
   <td>
    8,932.50
   </td>
   <td>
    3.18
   </td>
  </tr>
 </tbody>
</table>